<div class="center hero-unit" >
<h1 class="hero_welcome">Susunami</h1>
<!-- <h1 class="hero_welcome">Welcome to codeGPS</h1> -->
	<p>
    <span class="logo_pop">Lend to each other :: Save together :: Achieve your goals</span>
<!-- 		<span class="logo_pop">codeGSP</span> is the beginning coder's progress tracking tool
 -->	</p>

	<%= link_to "Sign up Now!", signup_path, class: "btn btn-large btn-warning" %>


</div>

