<footer class="footer">
	<p>
		Patiently Handcrafted by Derrick Lannaman using	<%= link_to image_tag('rails.png', 
		alt: "Ruby on Rails"), "http://rubyonrails.org" %>
	</p>

	<nav>
		<ul>
			<li><%= link_to "about", 		"#", class: "footer_nav" %></li>
			<li><%= link_to "contact", 	"#", class: "footer_nav" %></li>
		</ul>
	</nav>
</footer>	
