<header class="navbar navbar-fixed-top">
	<div class= "navbar-inner">
		<%= link_to "codeGPS", root_path, class: "brand" %>
		<nav>
			<ul class="nav pull-right">
				<li><%= link_to "home", 	 root_path, class: "nav_link" %></li>
				<li><%= link_to "help", 	 help_path, class: "nav_link" %></li>
				<li><%= link_to "sign in", "#", class: "nav_link" %></li>
			</ul>
		</nav>
	</div>	
</header>